# Exercise 2.1
## Complete the function that calculates the similarities of all texts in the dataframe

In [18]:
import pandas as pd

In [19]:
data = pd.DataFrame(columns=['Text', 'Undergrad', 'Semester', 'Age', 'Company'])

In [20]:
# Example dataset
data.loc[0] = ['Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
               'Ingenieria Industrial', 0, 25, 'Uniandes']
data.loc[1] = ['Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?',
               'Ingenieria Electrica', 2, 32, 'Bancolombia']
data.loc[2] = ['At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.',
               'Ingenieria Sistemas', 1, 22, 'Colpatria']
data.loc[3] = ['At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.',
               'Estadistica', 1, 26, 'Colpatria']

In [21]:
def similarity(data):

    results = pd.DataFrame(0, index=data.index, columns=data.index)
    
    #############

    def get_jaccard_sim(str1, str2):
        a=set(str1.split())
        b=set(str2.split())
        c=a.intersection(b)
        return float(len(c)) / (len(a) + len(b) - len(c))
    
######################prueba unitaria

#for i in range(data.shape[0]):
 #   for j in range(data.shape[0]):
  #      print(get_jaccard_sim(data.iloc[i,0],data.iloc[j,0]))

    for i in range(data.shape[0]):
        for j in range(data.shape[0]):
            results.iloc[i,j]=get_jaccard_sim(data.iloc[i, 0], data.iloc[j, 0])
    
    
    ############
        
    
    assert results.shape == (data.shape[0], data.shape[0])
    
    return results

In [22]:
similarity(data)

          0         1         2         3
0  1.000000  0.186207  0.086093  0.086093
1  0.186207  1.000000  0.089005  0.089005
2  0.086093  0.089005  1.000000  1.000000
3  0.086093  0.089005  1.000000  1.000000

# Exercise 2.2
## Calculate descriptive statistics of the dataset
* Pivot tables analyzing companies, universities, age and master semester.

In [ ]:
data.dtypes

Text         object
Undergrad    object
Semester     object
Age          object
Company      object
dtype: object

In [29]:
pd.to_numeric(data.iloc[:,3], errors='coerce').describe() ##edad, continua

count     4.000000
mean     26.250000
std       4.193249
min      22.000000
25%      24.250000
50%      25.500000
75%      27.500000
max      32.000000
Name: Age, dtype: float64

In [36]:
pd.Categorical(data.iloc[:,1]).describe() #grado, categorica

                       counts  freqs
categories
Estadistica                 1   0.25
Ingenieria Electrica        1   0.25
Ingenieria Industrial       1   0.25
Ingenieria Sistemas         1   0.25

In [37]:
pd.Categorical(data.iloc[:,2]).describe() #semestre, categorica

            counts  freqs
categories
0                1   0.25
1                2   0.50
2                1   0.25

In [38]:
pd.Categorical(data.iloc[:,4]).describe() #compa√±ia, categorica

             counts  freqs
categories
Bancolombia       1   0.25
Colpatria         2   0.50
Uniandes          1   0.25